*.pyc
.vscode
build/
ideas/
__pycache__/
src/gdev.c
*.p
avg.py
xxx.*
yyy.*
zzz.*
examples/*.p
examples/*.tmp
MANIFEST
dist/
doc/source/_build/
.coverage
files-*.python*
gvar.todo
nose-uncovered.py
yyy*
xxx*
git-instructions
*.sublime-*
references/
tmp/
misc/
ideas/
todo/
papers/
old/
save/
gvar-distribution/
doc/html/_static/dialog-todo.png
doc/latex/
doc/source/outputfile.p
outputfile.p
*.egg-info/
src/*.egg-info/
doc/source/pendulum-paper.pdf
README.html
z*.py
y*.py
x*.py
meta.yaml
benchmarks/
