*.pyc
build/
__pycache__/
src/gdev.c
*.p
avg.py
xxx.*
yyy.*
zzz.*
examples/*.p
examples/*.tmp
MANIFEST
dist/
doc/source/_build/
.coverage
files-*.python*
gvar.todo
nose-uncovered.py
yyy*
xxx*
git-instructions
*.sublime-*
references/
tmp/
misc/
ideas/
todo/
gvar-distribution/
doc/html/_static/dialog-todo.png
doc/latex/
src/gvar/_version.py
doc/source/outputfile.p
outputfile.p
gvar.egg-info/
doc/source/pendulum-paper.pdf