include README.rst INSTALLATION.txt LICENSE.txt MANIFEST.in CHANGES.txt
include pyproject.toml setup.cfg setup.py makefile
include src/gvar.pxd src/gvar/*.pxd src/gvar/*.pyx

graft doc/html
graft tests
exclude tests/*.pyc
exclude save
exclude old
graft examples
exclude examples/*.pyc examples/*.tmp
recursive-exclude tests/__pycache__ *
recursive-exclude doc/source/_build *
exclude src/*egg-info/
exclude src/gvar/*.c